* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
form input {
  flex-basis: 60%;
  height: 40px;
}
form button {
  flex-basis: 20%;
  background-color: yellowgreen;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.outer-div {
  width: 1170px;

  margin: 20px;
}
.outer-div ul {
  list-style: none;
  margin-top: 50px;
}
.outer-div ul li {
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 25px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.outer-div ul li span {
  cursor: pointer;
  position: absolute;
  right: 20rem;
}
